<!DOCTYPE html>
<html>
<head>
    <title>Jimi Hendrix</title>
    <script src="~/Scripts/parallax.min.js"></script>
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body>
    @RenderBody()
</body>
</html>