<!DOCTYPE html>
<html>
<head>
    <title>Jimi Hendrix</title>

    <link href="~/Content/Site.css" rel="stylesheet" />

    <script src="~/Scripts/parallax.min.js"></script>
    <script src="~/Scripts/main.js"></script>
       
</head>
<body>

    @*<div id="feedback-container">
        <table class="table table-striped">
            <tbody id="feedback"></tbody>
        </table>
    </div>*@

    @RenderBody()
</body>
</html>