@{
    ViewBag.Title = "Jimi Hendrix";
}

<div id="backScene">
    <img class="layer" data-depth="-1.0" src="~/Content/images/bg.jpg" />
    <img class="layer" data-depth="-0.8" src="~/Content/images/L9.gif" />
    <img class="layer" data-depth="-0.6" src="~/Content/images/L8.gif" />
    <img class="layer" data-depth="-0.3" src="~/Content/images/L7.gif" />
    <img class="layer" data-depth="-0.1" src="~/Content/images/L6.gif" />
    <img class="layer" data-depth="0.1" src="~/Content/images/L5.gif" />
    <img class="layer" data-depth="0.3" src="~/Content/images/L4.gif" />
</div>

<img id="frame" src="~/Content/images/frame4.gif" />
<div class="container">
    <div id="copyright">More info on <a href="https://cyberzenno.wordpress.com/2018/07/24/jimi-hendrix-parallax/" target="_blank">cyberzenno.com</a> - © Design rights reserved to <a href="http://finnstone.com/" target="_blank">Finn Stone</a></div>
</div>

<div id="frontScene">
    <img class="layer" data-depth="0.6" src="~/Content/images/L3.gif" />
    <img class="layer" data-depth="0.8" src="~/Content/images/L2.gif" />
    <img class="layer" data-depth="1.0" src="~/Content/images/L1.gif" />
    <img class="layer" data-depth="1.2" src="~/Content/images/L0.gif" />
</div>


