@{
    ViewBag.Title = "Jimi Hendrix";
}



<div id="scene">

    <img class="layer" data-depth="-1.0" src="~/Content/images/bg.jpg" />
    <img class="layer" data-depth="-0.8" src="~/Content/images/L9.gif" />
    <img class="layer" data-depth="-0.6" src="~/Content/images/L8.gif" />
    <img class="layer" data-depth="-0.4" src="~/Content/images/L7.gif" />
    <img class="layer" data-depth="-0.2" src="~/Content/images/L6.gif" />
    <img class="layer" data-depth="0.0" src="~/Content/images/L5.gif" />
    <img class="layer" data-depth="0.2" src="~/Content/images/L4.gif" />
    <img class="layer" data-depth="0.4" src="~/Content/images/L3.gif" />
    <img class="layer" data-depth="0.6" src="~/Content/images/L2.gif" />
    <img class="layer" data-depth="0.8" src="~/Content/images/L1.gif" />
    <img class="layer" data-depth="1.0" src="~/Content/images/L0.gif" />

</div>
<img id="frame" src="~/Content/images/frame4.gif" />
