/*this avoids the scrollbars for the general document*/
html {
    overflow-y: hidden;
    overflow-x: hidden;
}

body {
    font-family: Arial;
    background-image: url('images/concrete1.jpg');
}

#frame {
}

#bgScene {
    overflow: hidden;
    background-color: white;
}

#scene, #bgScene {
    width: 800px;
    height: 579px;
    /*border: 5px solid red;*/
}

.layer {
    /*border: 1px solid blue;*/
}

#feedback-container {
    position: fixed;
    z-index: 1;
    border: 1px solid black;
    width: 300px;
    background-color: white;
}
